$width-break: 500px

@import 'normalize.scss'
@import 'font.sass'
@import 'header.sass'
@import 'search.sass'
@import 'promises.sass'
@import 'prestations.sass'
@import 'footer.sass'
@import 'pub.sass'
@import 'resa-city.sass'
@import 'about.sass'
@import 'dropdown-menu.sass'
@import 'comment.sass'

*
  box-sizing: border-box

input[type="submit"]
  cursor: pointer

a
  text-decoration: none
  color: inherit

.gold
  color: rgb(203, 155, 43)

@media screen and (max-width: 1024px)
  .large-screen
    display: none
  .small-screen
    display: inherit

@media screen and (min-width: 1024px)
  .small-screen
    display: none
  .large-screen
    display: inherit
