$width-break: 500px

@import 'normalize.scss'
@import 'font.sass'
@import 'header.sass'
@import 'search.sass'
@import 'promises.sass'
@import 'prestations.sass'
@import 'footer.sass'

*
  box-sizing: border-box

input[type="submit"]
  cursor:pointer
