.prestations
  font-size: 16px
  clear: both
  background-color: rgb(247, 247, 247)
  p
    font-family: 'raleway-extralight'
    text-align: center
    padding: 22px
    margin: 0

  @media screen and (max-width: 1023px)
    padding-bottom: 20px
    span
      font-style: italic
    p
      font-size: 1em

    figure
      margin: 0
      img
        width: 100%
      font-family: arial
      font-size: 0.75em
      margin-bottom: 10px
    figcaption
      margin-left: 5px

    #item3
      figcaption
        margin-left: 0
      figure
        padding-left: 5px

    #item2, #item3
      figure
        width: 50%
        float: left

    #item2
      figure
        padding-right: 5px

    #all-presta
      button
        font-family: "raleway-semibold"
        font-size: 0.9em
        display: block
        background-color: white
        border: solid 1px black
        padding: 15px
        width: calc(100% - 20px)
        margin: auto
        margin-top: 30px
        text-align: center
        position: relative
        clear: both
        img
          width: 15px
          position: absolute
          top: 50%
          @include translate(0, -55%)
          right: 7.8%

  @media screen and (min-width: 1024px)
    padding: 70px 0
    figure
      margin: 0
      padding: 0

    $grid-width: calc(60vw + 20px)

    .grid
      margin: auto
      display: table
      min-width: $grid-width
      .grid
        display: table-cell
        min-width: 30vw
        max-width: 1200px
        vertical-align: top

    .item
      min-width: 30vw
      height: 30vh
      min-height: 200px
      position: relative
      display: block
      figcaption
        position: absolute
        bottom: -25px
      img
        visibility: hidden
    //Surbrillance
    .item::after
      content: ""
      background-color: black
      opacity: 0.07
      min-width: 30vw
      height: 30vh
      min-height: 200px
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      display: block
    .item:hover::after
      display: none
    .item:hover
      span
        color: rgb(203, 155, 43)

    #item1, #item1::after
      min-width: $grid-width
    #item1
      margin: 40px 0
      background: rgba(0, 255, 255, .5) url('../../img/build/presta1-big.jpg')

    #item2
      margin: 0 10px 40px 0
      background: rgba(0, 255, 255, .5) url('../../img/build/presta2-big.jpg')

    #item3
      margin: 0 10px 0 0
      background: rgba(0, 255, 255, .5) url('../../img/build/presta3-big.jpg')

    #item4, #item4::after
      height: calc(60vh + 40px)
      min-height: 440px
    #item4
      margin: 0 0 40px 10px
      background: rgba(0, 255, 255, .5) url('../../img/build/presta4-big.jpg')

    #item5, #item5::after
      min-width: 39vw
    #item5
      margin: 0 10px 40px 0
      background: rgba(0, 255, 255, .5) url('../../img/build/presta5-big.jpg')

    #item6, #item6::after
      min-width: 21vw
    #item6
      margin: 0 0 100px 10px
      background: rgba(0, 255, 255, .5) url('../../img/build/presta6.jpg')

    #item1, #item2, #item3, #item4, #item5, #item6
      background-size: cover
      background-repeat: no-repeat
      background-repeat: no-repeat

    p
      font-size: 3em

    a
      text-align: center
      figcaption
        text-align: left

    #all-presta
      display: block
      width: 25%
      min-width: 315px
      margin: auto
      button
        height: 50px
        width: 100%
        padding: 15px 10% 15px 14%
        text-align: left
        font-family: "raleway"
        font-size: 0.9em
        position: relative
        img
          position: absolute
          right: 25px
          top: 15px
          width: 20px
