.prestations
  clear: both
  font-size: 1em
  background-color: rgb(247, 247, 247)

  figure
    margin: 0
    img
      width: 100%
    font-family: arial
    font-size: 0.75em
    margin-bottom: 10px

  figcaption
    margin-left: 5px

  a:nth-child(4)
    figcaption
      margin-left: 0


  a:nth-child(4), a:nth-child(3)
    figure
      width: 50%
      float: left
      img
        height: 100px
  a
    text-decoration: none
    color: rgb(38, 38, 38)


  a:nth-child(3)
    figure
      padding-right: 10px

  a:last-child
    display: inline-block
    border-width: 1px
    border-style: solid
    padding: 15px
    margin-top: 15px
    width: calc(100% - 20px)
    text-align: center
    clear: both
    position: relative
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 17px
    img
      width: 15px
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 7.8%

  span
    color: rgb(203, 155, 43)
    font-style: italic

  p
    font-size: 1em
    font-family: 'raleway-extralight'
    text-align: center
    padding: 22px
    margin: 0

    span
      color: rgb(203, 155, 43)
