.search
  .banner
    img
      width: 100%
      display: block

    figure
      margin: 0
      position: relative

  form
    input
      border-style: none
      border-width: 0
    label
      position: absolute
      //@include translate(0, calc(-50% + 1px))
      left: 17px
      img
        width: 17px
        height: auto
    button
      background-color: rgb(38, 38, 38)
      color: white
      border: 0
      font-family: "raleway"
      font-style: normal
      font-size: 1.06em
    p
      position: relative
    input:nth-child(-n+3)
      padding-left: 42px

  @media screen and (max-width: 1023px)
    padding-top: 50px

    .banner
      figure
        position: relative
      figcaption
        p
          width: 60%
          text-align: right
          position: absolute
          top: 50%
          right: 4.68%
          @include translate(0, -50%)
          text-align: right
          font-family: arial
          font-size: 0.75em
          height: 75px

    .search-form
      input:nth-child(-n+3)
        padding-left: 42px
      input
        width: 100%
        height: 50px
        font-family: arial
        font-size: 0.875em
        border-style: none
        border-width: 0
      button
        width: 100%
        height: 45px
      p
        margin: 0
        border-top: solid
        border-width: 2px
        border-color: rgb(219, 219, 219)
      p:last-child
        padding: 10px
        background-color: rgb(196, 196, 196)
      label
        top: 15px

  @media screen and (min-width: 768px)
    padding-top: 0
    .banner figcaption
      font-size: 1.5em
    .search-form input
      font-size: 1.0em

  @media screen and (min-width: 1024px) and (max-width: 1279px)
    .banner
      figcaption
        left: 60%

  @media screen and (min-width: 1280px)
    .banner
      figcaption
        left: 50%

  @media screen and (min-width: 1024px)
    .banner
      background-color: rgb(255,239,223)
      width: 100%
      img
        height: calc(100vh - 45px)
        min-height: 620px
        width: auto
      figcaption
        width: 60%
        position: absolute
        top: 50%
        @include translate(-50%, calc(-50% - 132px))
        text-align: center
        font-family: "raleway"
        font-size: 1.1em
        height: 75px
        width: 550px
        span:nth-child(1)
          font-size: 3rem
          span
            font-family: "raleway-bold"
        span:nth-child(2)
          line-height: 100px
      figcaption.ie
        top: 30%
        left: 35%

    .search-form
      position: relative
      form
        z-index: 5
        position: absolute
        top: -120px
        height: 120px
        width: 100%
        background-color: rgba(38, 38, 38, 0.5)
        text-align: center
        input
          height: 60px
          margin: 30px 0
        #resa
          width: 300px
        p:nth-child(2)::before, p:nth-child(3)::before
          z-index: 6
          content: ' '
          height: 30px
          width: 2px
          background-color: rgba(38, 38, 38, 0.1)
          position: absolute
          left: 0
          top: -7px
        #ville
          width: 240px
          @include translate(-4px, 0)
        #date
          width: 200px
          @include translate(-8px, 0)
        p
          display: inline
          margin: 0
          padding: 0
          font-size: 0.9em
        button
          @include translate(-12px, 0)
          height: 60px
          width: 180px
          padding: 15px 35px
        label
          left: 13px
          top: 0
          z-index: 7
